header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
}
ul li {
    margin-left: 15px;
}
a {
    padding: 10px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
a:hover,
a.active {
    background-color: #fff;
    color: #000;
}